* {
  margin: 0;
  padding: 0;
  background-color: #f3f2f2;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #595149;
}

.navbar {
  padding: 10px 35px;
  z-index: 999;
  background-color: transparent;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  background-color: transparent;
}

.nav-item {
  margin-left: 3rem;
  letter-spacing: 2px;
  font-family: "Charm", cursive;
  background-color: transparent;
}

.nav-link {
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 400;
  color: #595149;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #b5ada9;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #f3f2f2;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.3rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .banner-content {
    top: 75% !important;
  }
}
.nav-logo {
  font-size: 2.8rem;
  letter-spacing: 2px;
  color: #413a33;
  font-family: "Charm", cursive;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}

.nav-logo:hover {
  color: #b5ada9;
}

/*banner*/
.banner {
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

.container-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -88px !important;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 85px;
  margin-top: 73px;
}
.banner-img {
  height: 38rem;
  border-radius: 80% 80% 0% 0%;
  filter: brightness(110%);
}


h1 {
  font-family: "Charm", cursive;
  font-size: 4rem;
  text-transform: capitalize;
}

.btn {
  font-family: "Charm", cursive;
  margin-top: 30px;
  font-size: 1.5rem;
  border: 1px solid #413a33;
  padding: 8px 20px;
  width: 200px;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.banner-main {
  position: relative;
    right: 20%;
}

.colored-bg {
  position: absolute;
  top: 0;
  left: 195px;
  background-color: #ada294b7;
  height: 33rem;
  width: 20rem;
}

/*about-section*/
h2 {
  font-family: "Charm", cursive;
  font-size: 3rem;
  text-transform: capitalize;
  margin-left: 50px;
}

.about-img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.img-description {
  font-family: "Charm", cursive;
  font-size: 1.3rem;
  letter-spacing: 1px;
  word-spacing: 4px;
  line-height: 1.7;
}